
.container {
    max-width: 800px;
    margin: 0 auto;
}

.header {
    max-width: 400px;
}

.mypic{
    position: relative;
    top: 90px;
    left: 560px;
    width: 100px;
    height: 100px;
    background-size: cover;
}
